@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap");
.about-us-section {
  background-color: rgb(3, 3, 3);
  font-family: "Poppins", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}
.about-us-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 7.5%;
  gap: 3%;
}
.about-us-content-section {
  float: left;
  width: 50%;
  box-sizing: border-box;
  margin-top: -100px;
}
.about-us-image-section {
  display: block;
  width: 700px;
  height: 700px;
  margin-top: -40px;
}
.about-us-image-section img {
  width: 700px;
  height: 700px;
  border-radius: 2%;
}
.about-us-content #about-us-title {
  text-transform: uppercase;
  text-align: left;
  font-size: 600%;
  text-decoration: underline;
  color: rgb(144, 89, 89);
}
.about-us-content-section .about-us-content #about-us-sub-title {
  margin-top: 20px;
  color: rgb(144, 79, 79);
  font-size: 205%;
}
.about-us-content-section .about-us-content #about-us-description {
  margin-top: 10px;
  font-family: sans-serif;
  font-size: 190%;
  line-height: 1.5;
  color: rgb(108, 58, 58);
}
.about-us-content-section .about-us-content .about-us-button {
  margin-top: 50px;
}
.about-us-content-section .about-us-content .about-us-button a {
  background-color: rgb(101, 55, 55);
  padding: 12px 40px;
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  letter-spacing: 1.5px;

  transition: ease-out 0.3s;
}
.about-us-content-section .about-us-content .about-us-button a:hover {
  box-shadow: inset 300px 0 0 0 #7399c1;
  background-color: violet;
  cursor: pointer;
  color: black;
}

.about-us-content-section .about-us-social a {
  color: rgb(96, 60, 60);
  font-size: 30px;
  padding: 0px 10px;
}
.about-us-content-section .about-us-social a:hover {
  color: #7399c1;
  transition: ease-out 0.3s;
}
@media screen and (max-width: 768px) {
  .about-us-container {
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .about-us-content-section {
    float: none;
    width: 100%;
    display: block;
    margin: auto;
  }
  .about-us-image-section {
    float: none;
    width: 100%;
  }
  .about-us-image-section img {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
  }
  .about-us-content #about-us-title {
    text-align: left;
    font-size: 500%;
  }
  .about-us-content-section .about-us-content #about-us-sub-title {
    text-align: left;
    font-size: 225%;
  }
  .about-us-content-section .about-us-content #about-us-description {
    text-align: left;
  }
  .about-us-content-section .about-us-content .about-us-button a {
    padding: 9px 30px;
  }
  .about-us-content-section .about-us-social {
    text-align: center;
  }
  .about-us-image-section {
    padding-top: 7%;
    padding-left: 0%;
  }
  .about-us-image-section img {
    margin-top: 30px;
  }
}
