@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap");
#aespa-main-div {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background-color: black;
}

#aespa-title-background-image {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgb(0, 0, 0)
    ),
    url("./images/Aespa.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 7% 7%;
  padding: 17%;
}

#aespa-artist-background {
  background-color: black;
  height: 100%;
  padding-bottom: 30%;
}

@font-face {
  font-family: "aespa Regular";
  font-style: normal;
  font-weight: normal;
  src: local("aespa Regular"), url("./aespa_Regular.woff") format("woff");
}

#aespa-artist-title {
  text-align: center;
  font-size: 9vw;
  font-family: "aespa Regular";
  font-weight: 900;
  color: white;
}
#aespa-artist-sub-title {
  text-align: center;
  font-size: 1vw;
  font-family: "Work Sans", sans-serif;
  font-weight: 900;
  color: white;
  padding-top: 5%;
}

/* -------------------------------- */

#aespa-members-gallery {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}

#aespa-album-gallery {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}

#aespa-singles-gallery {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
  padding-bottom: 10%;
}

#aespa-members-content {
  width: 474px;
  height: 872px;
  margin: 15px;
  box-sizing: border-box;
  float: left;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: 0.4s;
  background: white;
}

#aespa-album-content {
  width: 570px;
  height: 570px;
  margin: 15px;
  box-sizing: border-box;
  float: left;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: 0.4s;
  background: white;
}

#aespa-album-content:hover,
#aespa-members-content:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translate(0px, -8px);
}

#aespa-members-image {
  width: 474px;
  height: 722px;
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin: 0 auto;
  display: block;
}

#aespa-album-image {
  width: 570px;
  height: 570px;
  text-align: center;
  border-radius: 20px;
  margin: 0 auto;
  display: block;
}

#aespa-members-gallery,
#aespa-album-gallery #aespa-album-content p {
  font-size: 1.5em;
  font-family: "Lexend";
}

/* 12-pro, xr */
@media (max-width: 1000px) {
  #aespa-content {
    width: 45%;
  }
  #aespa-artist-sub-title {
    font-size: 1em;
  }

  #aespa-album-gallery #content p {
    font-size: 1em;
  }
}

@media (max-width: 750px) {
  #aespa-content {
    width: 100%;
  }
  #aespa-album-image {
    width: 200px;
    height: 200px;
  }

  #aespa-album-gallery #content p {
    font-size: 1em;
  }
}

/* for desktop */
@media (max-width: 2000px) {
  #aespa-album-gallery #content p {
    font-size: 1em;
  }
  #aespa-members-content {
    width: 342px;
    height: 642px;
  }
  #aespa-members-image {
    width: 342px;
    height: 502px;
  }

  #aespa-album-content {
    width: 370px;
    height: 370px;
  }
  #aespa-album-image {
    width: 370px;
    height: 370px;
  }
}
