@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

.card-categ-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}
/* aespa title */
.card-row:nth-child(2) {
  display: flex;
  margin-bottom: 100px;
  border: 4px solid rgb(0, 0, 0, 0.1);
}

#card-artist-title {
  text-align: center;
  text-transform: uppercase;
  color: rgb(80, 79, 79);
  font-family: "Oswald", sans-serif;
}

.card-row:nth-child(2) .card-col:first-child {
  flex: 1;
  /* background-color: aqua; */
}
/* --------------------------------------------------- */

.card-row {
  display: flex;
}
.card-row:nth-child(3) .card-col:nth-child(1) {
  flex-wrap: wrap;
  width: 10%;
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  padding-bottom: 5%;
  gap: 15%;
}

/* .card-col:nth-child(4) {
  margin-top: -10%;
} */
.card-btn {
  background-color: transparent;
  font-family: "Oswald", sans-serif;
  font-size: 25px;
  outline: none;
  width: max-content;
  text-transform: uppercase;
  transition: all 0.5s;
  border: none;
  text-align: center;
  cursor: pointer;
}

.card-btn:hover {
  font-weight: bold;
  text-decoration: underline;
  transition: 0.3s;
}

/* cards of shops */
.card-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-card {
  width: 250px;
  box-shadow: 0 0 10px -4px;
  border-radius: 5px;
  padding: 5px;
  margin: 0px 60px 60px 0;
  transition: 0.3s;
}

.card-card:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 15px -2px;
}

/* for image */
.card-header img {
  width: 100%;
}

/* for text of cards */
.card-title {
  text-align: center;
  font-size: 20px;
}

.card-price {
  display: flex;
  justify-content: center;
  margin: 5px 0;
}

@media screen and (max-width: 1000px) {
  .card-row:first-child {
    margin-bottom: 40px;
  }

  .card-row:nth-child(2) .card-col {
    padding: 0 10px;
  }
  .card-card {
    margin-top: auto;
  }

  .card-row:nth-child(2) {
    margin-bottom: 7%;
  }
  .card-row {
    display: inline-block;
  }

  .card-cards {
    margin-top: 15%;
    margin-left: 13%;
  }
  .card-row:nth-child(3) .card-col:nth-child(1) {
    background-color: rgb(248, 248, 248);
    display: flex;
    padding-top: 5%;
    padding-left: 42%;
    height: 50%;
    padding-right: 43%;
    align-items: center;
  }
  .card-row:nth-child(3) .card-col:nth-child(1) .card-btn {
    font-size: 20px;
    margin-bottom: 20px;
    /* margin-right: -30px;
    margin-left: -3px; */
  }
}

.addtocart-btn {
  width: 50%;
  height: 40px;
  border: none;
  border-radius: 3px;
  background-color: rgb(20, 20, 20);
  /* background-image: linear-gradient(to bottom, #ff4267, #ff4b2e); */
  color: #ffffff;
  font-size: 15px;
  margin-left: 25%;
  margin-top: 5%;
  margin-bottom: 5%;
  cursor: pointer;
}

.addtocart-btn:hover {
  background-color: #ff4267;
  color: white;
  transition: 0.5s;
}

.addtocart-btn:active {
  transform: translateY(10px);
}
