#cart-main-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

article {
  width: 60%;
  margin: auto;
}

.cart_box img {
  width: 50px;
  height: 50px;
}

.cart_img {
  display: flex;
  width: 400px;
}

.cart_img p {
  font-weight: bold;
  margin-left: 10px;
}

.cart_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  border-bottom: 2px solid #8a8585;
  padding-bottom: 5px;
}

.cart_box div:nth-child(2) button {
  padding: 5px 10px;
  font-weight: bold;
  margin-right: 5px;
}

.cart_box div:nth-child(3) button {
  padding: 5px 10px;
  font-weight: bold;
  letter-spacing: 2px;
  border: none;
  outline: none;
  color: white;
  background-color: #ee4848;
  border-radius: 5px;
  cursor: pointer;
}
.cart_box div:nth-child(3) button:hover {
  background-color: #ee6262;
}
.cart_box div:nth-child(3) span {
  background-color: #eee890;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 10px;
}

.total {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}

.total span:nth-child(1) {
  font-size: 2rem;
  color: skyblue;
  font-weight: bold;
  letter-spacing: 2px;
}

.total span:nth-child(2) {
  font-size: 2rem;
  color: green;
  font-weight: bold;
}

.checkout {
  display: flex;
  justify-content: right;
  margin-top: 50px;
}

.checkout #checkout-button {
  width: 100px;
  height: 40px;
  margin-top: -10px;
  margin-bottom: 25px;
  border: none;
  border-radius: 3px;
  font-size: 15px;
  padding: 10px;
  background-color: #386bc0;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.checkout #checkout-button:hover {
  background-color: #4a74bd;
}

@media screen and (max-width: 1000px) {
  .card_box {
    border-bottom-width: 20%;
  }
  /* .cart_box button {
  } */
  .cart_box .cart_img {
    margin-left: -29%;
  }
  #cart-price {
    gap: 15px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }
  #cart-value-buttons {
    margin-left: 25px;
  }
  #total-head {
    margin-left: -30px;
    gap: 20px;
  }
  #total-price {
    margin-left: 40px;
    white-space: nowrap;
  }
}
