#checkout-main-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

.check-out-container {
  position: relative;
  max-width: 600px;
  width: 100%;
  border-radius: 8px;
  padding: 40px;
  margin: 55px auto 41px auto;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.check-out-container #check-out-header {
  height: 25px;
  padding: 20px;
  margin-top: -20px;
  margin-bottom: 10px;
  font-size: 25px;
  color: #ffffff;
  text-align: center;
  background: #43c038;
}

.check-out-container form {
  position: relative;
  min-height: 400px;
  margin-top: 16px;
}

.check-out-container #check-out-form .check-out-ui {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#check-out-form .check-out-ui .check-out-field {
  position: relative;
  display: flex;
  width: calc(150% / 3 - 15px);
  flex-direction: column;
  margin: 10px 0;
}

.check-out-ui .check-out-field .check-out-input {
  outline: none;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  border: 1px solid #aaaaaa;
  border-radius: 3px;
  padding: 0 15px;
  height: 40px;
  margin: 5px 0;
}

.check-out-ui .check-out-field #check-out-label {
  position: absolute;
  top: 11px;
  left: 8px;
  padding: 0px 5px;
}

.check-out-input:focus ~ #check-out-label,
.check-out-input:valid ~ #check-out-label {
  top: -3px;
  font-size: 12px;
  color: #8c8b8b;
  background-color: #ffffff;
}

#check-out-form .check-out-ui .check-out-field-2 {
  position: relative;
  display: flex;
  width: calc(100% / 3 - 15px);
  flex-direction: column;
  margin: 10px 0;
}

.check-out-ui .check-out-field-2 .check-out-input {
  outline: none;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  border: 1px solid #aaaaaa;
  border-radius: 3px;
  padding: 0 15px;
  height: 40px;
  margin: 5px 0;
}

.check-out-ui .check-out-field-2 #check-out-label {
  position: absolute;
  top: 11px;
  left: 8px;
  padding: 0px 5px;
}

.check-out-input:focus ~ #check-out-label,
.check-out-input:valid ~ #check-out-label {
  top: -3px;
  font-size: 12px;
  color: #8c8b8b;
  background-color: #ffffff;
}

#check-out-form .check-out-ui .check-out-field-3 {
  position: relative;
  display: flex;
  width: calc(308% / 3 - 15px);
  flex-direction: column;
  margin: 10px 0;
}

.check-out-ui .check-out-field-3 .check-out-input-3 {
  outline: none;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  border: 1px solid #aaaaaa;
  border-radius: 3px;
  padding: 0 15px;
  height: 40px;
  margin: 5px 0;
}

.check-out-ui .check-out-field-3 #check-out-label {
  position: absolute;
  top: 11px;
  left: 8px;
  padding: 0px 5px;
}

.check-out-input-3:focus ~ #check-out-label,
.check-out-input-3:valid ~ #check-out-label {
  top: -4px;
  font-size: 12px;
  color: #8c8b8b;
  background-color: #ffffff;
}

.check-out-field-3 .check-out-input-3 {
  height: 40px;
  margin: 5px 0;
}
.check-out-ui .check-out-field .checkout-btn {
  width: 110px;
  padding: 8px 10px;
  font-size: 15px;
  border: 0;
  background: #43c038;
  color: #ffffff;
  cursor: pointer;
  border-radius: 3px;
  outline: none;
}

.check-out-ui .check-out-field .checkout-btn:hover {
  background: #72be6b;
}

.summary-container {
  position: relative;
  max-width: 400px;
  width: 100%;
  border-radius: 8px;
  padding: 40px;
  margin: 55px auto 41px auto;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.table > :not(caption) > * > * {
  padding: 0.5rem 0.5rem;
  background-color: var(--bs-table-bg);
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

.table-bordered {
  border: 1px solid #aaaaaa;
}

@media screen and (max-width: 1000px) {
  .check-out-container {
    width: auto;
  }
}
