@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Scada&display=swap");
#lesserafim-main-div {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background-color: black;
}

#lesserafim-title-background-image {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgb(0, 0, 0)
    ),
    url("./images/lesserafim.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 47% 27%;
  padding: 17%;
}

#lesserafim-artist-background {
  background-color: black;
  height: 100%;
}
#lesserafim-artist-title {
  text-align: center;
  font-size: 9vw;
  font-family: "Work Sans", sans-serif;
  font-weight: 900;
  color: white;
}
#lesserafim-artist-sub-title {
  text-align: center;
  font-size: 1vw;
  font-family: "Work Sans", sans-serif;
  font-weight: 900;
  color: white;
  padding-top: 5%;
}

/* -------------------------------- */

#lesserafim-members-gallery {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}

#lesserafim-album-gallery {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
  padding-bottom: 10%;
}

#lesserafim-members-content {
  width: 480px;
  height: 680px;
  margin: 15px;
  box-sizing: border-box;
  float: left;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: 0.4s;
  background: white;
}

#lesserafim-album-content {
  width: 570px;
  height: 570px;
  margin: 15px;
  box-sizing: border-box;
  float: left;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: 0.4s;
  background: white;
}

#lesserafim-album-content:hover,
#lesserafim-members-content:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translate(0px, -8px);
}

#lesserafim-members-image {
  width: 480px;
  height: 600px;
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin: 0 auto;
  display: block;
}

#lesserafim-album-image {
  width: 570px;
  height: 570px;
  text-align: center;
  border-radius: 20px;
  margin: 0 auto;
  display: block;
}

#lesserafim-members-gallery,
#lesserafim-album-gallery #album-content p {
  font-size: 1.5em;
  font-family: "Lexend";
}

/* 12-pro, xr */
@media (max-width: 1000px) {
  #lesserafim-content {
    width: 45%;
  }
  #lesserafim-artist-sub-title {
    font-size: 1em;
  }
  #lesserafim-album-gallery #content p {
    font-size: 1em;
  }
}

@media (max-width: 750px) {
  #lesserafim-content {
    width: 100%;
  }
  #lesserafim-album-image {
    width: 200px;
    height: 200px;
  }

  #lesserafim-album-gallery #content p {
    font-size: 1em;
  }
}

/* for desktop */
@media (max-width: 2000px) {
  #lesserafim-album-gallery #content p {
    font-size: 1em;
  }
  #lesserafim-members-content {
    width: 342px;
    height: 522px;
  }
  #lesserafim-members-image {
    width: 342px;
    height: 442px;
  }

  #lesserafim-album-content {
    width: 370px;
    height: 370px;
  }
  #lesserafim-album-image {
    width: 370px;
    height: 370px;
  }
}
