@import url("https://fonts.googleapis.com/css2?family=Varela&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");

#navigation-bar-main-container {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#navigation-bar-background {
  background-color: rgb(0, 0, 0);
  height: 80px;
}
#navigation-bar-title {
  font-size: 2.5em;
  color: white;
  font-family: "Zen Dots", cursive;
  padding-left: 4%;
  line-height: 80px;
}
#navigation-bar-navigation-choices {
  font-family: "Varela", sans-serif;
  font-size: 1.5em;
  color: white;
  list-style: none;
  white-space: nowrap;
  margin: 0;
  float: right;
  margin-right: 1%;
}

#navigation-bar-navigation-choices li {
  display: inline-block;
  margin-top: 15px;
  margin-right: 115px;
  padding: 10px;
  border-radius: 20px;
}

/* #navigation-bar-navigation-choices li:hover,
#navigation-bar-navigation-choices li:visited,
#navigation-bar-navigation-choices li:visited:active {
  background-color: white;
  color: black;
  transition: 0.3s;
} */

.navigation-bar-check-button {
  color: white;
  font-size: 1.5em;
  float: right;
  margin-top: 24px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#navigation-bar-checkbox {
  display: none;
}

#navigation-bar-navigation {
  text-decoration: none;
}

#navigation-bar-navigation:visited {
  color: white;
}

/* #navigation-bar-navigation:hover {
  background-color: white;
  color: black;
  transition: 0.3s;
} */

/* mobile */
/* @media (max-width: 952px) {
  .navigation-bar-title {
    font-size: 2.5em;
    padding-left: 4%;
  }

  #navigation-bar-navigation-choices {
    font-size: 1.5em;
  }
} */

@media (max-width: 1758px) {
  .navigation-bar-check-button {
    display: block;
  }
  #navigation-bar-navigation-choices {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    background-color: darkgrey;
    text-align: center;
    font-size: 1.5em;
    transition: all 0.5s;
    left: -112%;
  }

  #navigation-bar-navigation-choices li {
    display: block;
    margin-right: 0px;
  }

  /* #navigation-bar-navigation-choices li:hover,
  #navigation-bar-navigation-choices li:active {
    background: white;
    color: black;
    transition: 0.6s;
  } */
  #navigation-bar-checkbox:checked ~ #navigation-bar-navigation-choices {
    left: -5.5%;
  }
}
